<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="3" package="com.splashmobileproductions.scorekeep" android:versionName="0.4">
	<uses-sdk android:minSdkVersion="14" android:targetSdkVersion="18"/>

	<application android:icon="@drawable/icon" android:label="@string/app_name" android:hardwareAccelerated="true" android:allowBackup="true">
		<activity android:name="com.splashmobileproductions.scorekeep.HomeActivity" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="NewGameActivity"
            android:label="@string/new_game"
            android:noHistory="true"
            android:parentActivityName="com.splashmobileproductions.scorekeep.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.splashmobileproductions.scorekeep.HomeActivity" />
        </activity>
		<activity android:name="ScoreCardActivity"
            android:parentActivityName="com.splashmobileproductions.scorekeep.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.splashmobileproductions.scorekeep.HomeActivity" />
        </activity>
        <activity android:name="GameHistoryActivity"
            android:label="@string/score_history"
            android:parentActivityName="com.splashmobileproductions.scorekeep.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.splashmobileproductions.scorekeep.HomeActivity" />
        </activity>
		<provider android:authorities="com.splashmobileproductions.scoresprovider" android:name=".provider.ScoresProvider"></provider>

		<activity android:name="AddPlayerDialog" android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>

    </application>
</manifest>