<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="1" package="com.splashmobileproductions.scorekeep" android:versionName="0.1">
	<uses-sdk android:minSdkVersion="7" android:targetSdkVersion="13"/>

	<application android:icon="@drawable/icon" android:label="@string/app_name" android:hardwareAccelerated="true">
		<activity android:name="HomeActivity" android:label="@string/app_name" android:theme="@style/Theme.Sherlock">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="GameHistory"></activity>
		<activity android:name="NewGame" android:noHistory="true" android:theme="@style/Theme.Sherlock"></activity>
		<activity android:name="ScoreCard"></activity>
		<activity android:name="PlayerList"></activity>
		<provider android:authorities="com.splashmobileproductions.scoresprovider" android:name=".provider.ScoresProvider"></provider>
		<activity android:name="Settings"></activity>

    </application>
</manifest>